.artic{float:right;width: 33%;clear: left;padding:0;}
.artic1{float:right;width: 66%;clear: left;padding:0;}
.artic2{float:right;width: 17%;clear: left;padding:0;}
.artic3{float:right;width: 17%;clear: left;padding:0;}
.artic4{float:right;width: 17%;clear: left;padding:0;}
.artic5{float:right;width: 45%;clear: left;padding:0;}