.newart{float:center;width: 100%;clear: left;padding:0;}
.newart1{float:center;width: 100%;clear: left;padding:0;}
.newart2{float:center;width: 100%;clear: left;padding:0;}
.newart3{float:center;width: 100%;clear: left;padding:0;}
.newart4{float:center;width: 100%;clear: left;padding:0;}
.newart5{float:right;width: 25%;}
.newart6{float:right;width: 25%;}
