.artic{float:right;width: 33%;clear: left;}
.artic1{float:right;width: 66%;clear: left;}
.artic2{float:right;width: 17%;clear: left;}
.artic3{float:right;width: 17%;clear: left;}
.artic4{float:right;width: 17%;clear: left;}
.artic5{float:right;width: 45%;clear: left;}
.artic6{float:right;width: 33%;clear: left;}
.artic7{float:right;width: 33%;clear: left;}
.artic8{float:right;width: 33%;clear: left;}
.artic9{float:right;width: 33%;clear: left;}
.artic10{float:right;width: 33%;clear: left;}
.artic11{float:right;width: 33%;clear: left;}
.artic12{float:right;width: 33%;clear: left;}
.artic13{float:right;width: 33%;clear: left;}
.artic14{float:right;width: 33%;clear: left;}
.artic15{float:right;width: 33%;clear: left;}
.artic16{float:right;width: 33%;clear: left;}
.artic17{float:right;width: 33%;clear: left;}
.artic18{float:right;width: 33%;clear: left;}
.artic19{float:right;width: 33%;clear: left;}
.artic20{float:right;width: 33%;clear: left;}
.artic21{float:right;width: 33%;clear: left;}
.artic22{float:right;width: 33%;clear: left;}
.artic23{float:right;width: 33%;clear: left;}
.artic24{float:right;width: 50%;clear: left;}
.artic25{float:right;width: 50%;clear: left;}
.artic26{float:right;width: 50%;clear: left;}
.artic27{float:right;width: 50%;clear: left;}
.artic28{float:right;width: 100%;clear: left;}
.artic29{float:right;width: 100%;clear: left;}
.artic30{float:right;width: 100%;clear: left;}
.artic31{float:right;width: 100%;clear: left;}
.artic32{float:right;width: 20%;clear: left;}
.artic33{float:right;width: 20%;clear: left;}