.artig{float:right;width: 33%;clear: left;padding:0;}
.artig1{float:right;width: 66%;clear: left;padding:0;}
.artig2{float:right;width: 17%;clear: left;padding:0;}
.artig3{float:right;width: 17%;clear: left;padding:0;}
.artig4{float:right;width: 17%;clear: left;padding:0;}
.artig5{float:right;width: 45%;clear: left;padding:0;}
.asj{float:right;width: 40%;}
